body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    padding-top: 80px;
    
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; width: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.3);
    transform-origin: center center;
}

.container {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.col-xs-1 {
    flex-basis: 8.33%;
    max-width: 8.33%; 
}
.col-xs-2 {
    flex-basis: 16.67%; 
    max-width: 16.67%;
}
.col-xs-3 {
    flex-basis: 25%; 
    max-width: 25%;
}
.col-xs-4 {
    flex-basis: 33.33%;
    max-width: 33.33%; 
}
.col-xs-5 {
    flex-basis: 41.67%;
    max-width: 41.67%; 
}
.col-xs-6 {
    flex-basis: 50%; 
    max-width: 50%;
}
.col-xs-7 {
    flex-basis: 58.33%;
    max-width: 58.33%; 
}
.col-xs-8 {
    flex-basis: 66.67%;
    max-width: 66.67%; 
}
.col-xs-9 {
    flex-basis: 75%; 
    max-width: 75%;
}
.col-xs-10 {
    flex-basis: 83.33%;
    max-width: 83.33%; 
}
.col-xs-11 {
    flex-basis: 91.67%; 
    max-width: 91.67%;
}
.col-xs-12 {
    flex-basis: 100%; 
    max-width: 100%;
}
.col-offset-xs-1 {
    margin-left: 8.33%; 
}
.col-offset-xs-2 {
    margin-left: 16.67%;
}
.col-offset-xs-3 {
    margin-left: 25%;
}
.col-offset-xs-4 {
    margin-left: 33.33%; 
}
.col-offset-xs-5 {
    margin-left: 41.67%; 
}
.col-offset-xs-6 {
    margin-left: 50%;
}
.col-offset-xs-7 {
    margin-left: 58.33%; 
}
.col-offset-xs-8 {
    margin-left: 66.67%; 
}
.col-offset-xs-9 {
    margin-left: 75%;
}
.col-offset-xs-10 {
    margin-left: 83.33%;
}
.col-offset-xs-11 {
    margin-left: 91.67%;
}
.col-offset-xs-12 {
    margin-left: 100%;
}

@media(min-width: 768px) {
    .container {
        width: 750px;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-offset-0,
    .col-sm-offset-1,
    .col-sm-offset-2,
    .col-sm-offset-3,
    .col-sm-offset-4,
    .col-sm-offset-5,
    .col-sm-offset-6,
    .col-sm-offset-7,
    .col-sm-offset-8,
    .col-sm-offset-9,
    .col-sm-offset-10,
    .col-sm-offset-11,
    .col-sm-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-sm-1 {
        flex-basis: 8.33%;
        max-width: 8.33%; 
    }
    .col-sm-2 {
        flex-basis: 16.67%; 
        max-width: 16.67%;
    }
    .col-sm-3 {
        flex-basis: 25%; 
        max-width: 25%;
    }
    .col-sm-4 {
        flex-basis: 33.33%;
        max-width: 33.33%; 
    }
    .col-sm-5 {
        flex-basis: 41.67%;
        max-width: 41.67%; 
    }
    .col-sm-6 {
        flex-basis: 50%; 
        max-width: 50%;
    }
    .col-sm-7 {
        flex-basis: 58.33%;
        max-width: 58.33%; 
    }
    .col-sm-8 {
        flex-basis: 66.67%;
        max-width: 66.67%; 
    }
    .col-sm-9 {
        flex-basis: 75%; 
        max-width: 75%;
    }
    .col-sm-10 {
        flex-basis: 83.33%;
        max-width: 83.33%; 
    }
    .col-sm-11 {
        flex-basis: 91.67%; 
        max-width: 91.67%;
    }
    .col-sm-12 {
        flex-basis: 100%; 
        max-width: 100%;
    }
    .col-offset-sm-1 {
        margin-left: 8.33%; 
    }
    .col-offset-sm-2 {
        margin-left: 16.67%;
    }
    .col-offset-sm-3 {
        margin-left: 25%;
    }
    .col-offset-sm-4 {
        margin-left: 33.33%; 
    }
    .col-offset-sm-5 {
        margin-left: 41.67%; 
    }
    .col-offset-sm-6 {
        margin-left: 50%;
    }
    .col-offset-sm-7 {
        margin-left: 58.33%; 
    }
    .col-offset-sm-8 {
        margin-left: 66.67%; 
    }
    .col-offset-sm-9 {
        margin-left: 75%;
    }
    .col-offset-sm-10 {
        margin-left: 83.33%;
    }
    .col-offset-sm-11 {
        margin-left: 91.67%;
    }
    .col-offset-sm-12 {
        margin-left: 100%;
    }
}

@media(min-width: 1024px) {
    .container {
        width: 970px;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-offset-0,
    .col-md-offset-1,
    .col-md-offset-2,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-md-1 {
        flex-basis: 8.33%;
        max-width: 8.33%; 
    }
    .col-md-2 {
        flex-basis: 16.67%; 
        max-width: 16.67%;
    }
    .col-md-3 {
        flex-basis: 25%; 
        max-width: 25%;
    }
    .col-md-4 {
        flex-basis: 33.33%;
        max-width: 33.33%; 
    }
    .col-md-5 {
        flex-basis: 41.67%;
        max-width: 41.67%; 
    }
    .col-md-6 {
        flex-basis: 50%; 
        max-width: 50%;
    }
    .col-md-7 {
        flex-basis: 58.33%;
        max-width: 58.33%; 
    }
    .col-md-8 {
        flex-basis: 66.67%;
        max-width: 66.67%; 
    }
    .col-md-9 {
        flex-basis: 75%; 
        max-width: 75%;
    }
    .col-md-10 {
        flex-basis: 83.33%;
        max-width: 83.33%; 
    }
    .col-md-11 {
        flex-basis: 91.67%; 
        max-width: 91.67%;
    }
    .col-md-12 {
        flex-basis: 100%; 
        max-width: 100%;
    }
    .col-offset-md-1 {
        margin-left: 8.33%; 
    }
    .col-offset-md-2 {
        margin-left: 16.67%;
    }
    .col-offset-md-3 {
        margin-left: 25%;
    }
    .col-offset-md-4 {
        margin-left: 33.33%; 
    }
    .col-offset-md-5 {
        margin-left: 41.67%; 
    }
    .col-offset-md-6 {
        margin-left: 50%;
    }
    .col-offset-md-7 {
        margin-left: 58.33%; 
    }
    .col-offset-md-8 {
        margin-left: 66.67%; 
    }
    .col-offset-md-9 {
        margin-left: 75%;
    }
    .col-offset-md-10 {
        margin-left: 83.33%;
    }
    .col-offset-md-11 {
        margin-left: 91.67%;
    }
    .col-offset-md-12 {
        margin-left: 100%;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-offset-0,
    .col-lg-offset-1,
    .col-lg-offset-2,
    .col-lg-offset-3,
    .col-lg-offset-4,
    .col-lg-offset-5,
    .col-lg-offset-6,
    .col-lg-offset-7,
    .col-lg-offset-8,
    .col-lg-offset-9,
    .col-lg-offset-10,
    .col-lg-offset-11,
    .col-lg-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-lg-1 {
        flex-basis: 8.33%;
        max-width: 8.33%; 
    }
    .col-lg-2 {
        flex-basis: 16.67%; 
        max-width: 16.67%;
    }
    .col-lg-3 {
        flex-basis: 25%; 
        max-width: 25%;
    }
    .col-lg-4 {
        flex-basis: 33.33%;
        max-width: 33.33%; 
    }
    .col-lg-5 {
        flex-basis: 41.67%;
        max-width: 41.67%; 
    }
    .col-lg-6 {
        flex-basis: 50%; 
        max-width: 50%;
    }
    .col-lg-7 {
        flex-basis: 58.33%;
        max-width: 58.33%; 
    }
    .col-lg-8 {
        flex-basis: 66.67%;
        max-width: 66.67%; 
    }
    .col-lg-9 {
        flex-basis: 75%; 
        max-width: 75%;
    }
    .col-lg-10 {
        flex-basis: 83.33%;
        max-width: 83.33%; 
    }
    .col-lg-11 {
        flex-basis: 91.67%; 
        max-width: 91.67%;
    }
    .col-lg-12 {
        flex-basis: 100%; 
        max-width: 100%;
    }
    
    .col-offset-lg-1 {
        margin-left: 8.33%; 
    }
    .col-offset-lg-2 {
        margin-left: 16.67%;
    }
    .col-offset-lg-3 {
        margin-left: 25%;
    }
    .col-offset-lg-4 {
        margin-left: 33.33%; 
    }
    .col-offset-lg-5 {
        margin-left: 41.67%; 
    }
    .col-offset-lg-6 {
        margin-left: 50%;
    }
    .col-offset-lg-7 {
        margin-left: 58.33%; 
    }
    .col-offset-lg-8 {
        margin-left: 66.67%; 
    }
    .col-offset-lg-9 {
        margin-left: 75%;
    }
    .col-offset-lg-10 {
        margin-left: 83.33%;
    }
    .col-offset-lg-11 {
        margin-left: 91.67%;
    }
    .col-offset-lg-12 {
        margin-left: 100%;
    }
}

.nav {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color:#616161;
}

.nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 60px;
    background-color: rgba(97, 97, 97, 0.52);
    padding-left: 45px; 
}

.nav li {
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0 14px;
    font-weight: 700;
    list-style: none;
}

.nav li:hover {
    cursor: pointer;
    background: white;
    color: rgb(97, 97, 97);
}

.nav li:hover > a {
    color: rgb(97, 97, 97);
}  

.nav > ul > li:not(img):not(:nth-child(2))::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #979797;
    margin-left: -15px;
    margin-top: 15px;
    position: absolute;
}

.nav a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(97, 97, 97);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    width: 150px;
}

.jumbotron {
    background-color: #3d3d3d;
    height: 60px;
    color: #b3b3b3;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.jumbotron h1 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    vertical-align: middle;
    line-height: 60px;
}

.jumbotron .col-md-3 {
    background-color: #e24a4a;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}

.jumbotron a {
    vertical-align: middle;
    line-height: 60px;
}

.carousel {
    height: 250px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.news {
    margin-bottom: 16px;
    color: #ffffff;
}

.news-title {
    height: 50px;
}

.news-title h2 {
    margin: 0;
    position: relative;
    vertical-align: middle;
    line-height: 52px;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 1.25em;
    z-index: 3;
}

.news-title > .col-md-10 {
    position: relative
}

.news-title > .col-md-10::before {
    content: '';
    position: absolute;
    height: 52px;
    width: calc(100% + 2rem);
    display: block;
    background-image: url('../img/ticket.png');
    background-position: right top;
    background-origin: border-box;
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    overflow-x: visible;
    margin-top: -2px;
    margin-left: -2rem;
    right:0;
}

.news-date {
    background: rgba(226, 74, 74, 0.59);
}

.news-date span {
    display: inline-block;
}

.news-date-day {
    font-size: 2.25em;
    font-weight: 200;
    line-height: 50px;
    vertical-align: middle;
    height: 50px;
    margin-left: -3.5px;
}

.news-date-month {
    font-size: 0.938em;
    font-weight: bold;
}

.news-date-year {
    font-size: 1.125em;
    font-weight: 200;
}

.news-date > .row {
    position: relative;
    height: 50px;
}

.news-date .col-md-6:last-of-type {
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.news-content {
    font-size: 0.875em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to right, rgba(165, 165, 165, 0), rgba(165, 165, 165, 0), rgba(165, 165, 165, 0), rgba(108, 108, 108, 0.57));
}

.news-author {
    position: relative;
}

.news-author-img > img {
    width: 44px;
    border: 2px solid white;
    transform: rotate(-9deg);
    transform-origin:  center center; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 55px;
}

.news-author-name {
    padding-left: 0.5rem;
    position: relative;
}

.news-author-name > span:nth-child(2) {
    font-weight: 800;
}

.news-author-name > span:last-child {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    font-style: italic;
    font-size: 0.85em;
}

.list-module {
    background: #3d3d3d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 20px;
}

.list-module h2 {
    margin: 0;
    line-height: 47px;
    vertical-align: middle;
    color: #8e8e8e; 
    font-size: 1.25em;
    font-weight: bold;
}

.list-module-title {
    height: 47px;
    background: rgba(0, 0, 0, 0.9);
}

.list-row {
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.list-row:not(:last-child)::after {
    content: '';
    width: calc(100% - 2rem);
    height: 1px;
    background: #979797;
    display: block;
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.event-date {
    transform: rotate(-9deg);
    transform-origin: center center;
}

.event-date span {
    display: block;
}

.event-date-day {
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.25em;
    font-weight: 200;
    text-align: right;
    width: 100%;
}

.event-date-month {
    text-align: left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 0.938em;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.event-date-year {
    width: 100%;
    text-align: right;
    font-size: 1.125em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.event-date .col-md-6 {
    padding: 0;
}

.event-date .col-md-6:last-of-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 1rem;
}

.event-name {
    font-weight: 500;
    font-size: 1.125em;
}

.event-place {
    font-size: 0.938em;
    font-style: italic;
}

.record-type {
    font-size: 3.375em;
    color: black;
    text-align: center;
    height: 68px;
}

.record-type span {
    line-height: 68px;
    vertical-align: 68px;
}

.record-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.record-info span {
    display: block;
}

.record-name {
    font-size: 1.125em;
}

.record-artist {
    font-size: 0.875em;
    font-weight: bold;
    color: #adadad;
}
