* {
    box-sizing: border-box;
}

@media (min-height: 768px) {
    body {
        overflow-y: scroll;
    }
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', serif;
    padding: 80px 0 0;
    background: url(../img/background.png) no-repeat fixed;
    background-size: cover;
    font-size: 16px;
    min-height: 100%;
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.col-xs-1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
}

.col-xs-2 {
    flex-basis: 16.67%;
    max-width: 16.67%;
}

.col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.col-xs-5 {
    flex-basis: 41.67%;
    max-width: 41.67%;
}

.col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-xs-7 {
    flex-basis: 58.33%;
    max-width: 58.33%;
}

.col-xs-8 {
    flex-basis: 66.67%;
    max-width: 66.67%;
}

.col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.col-xs-10 {
    flex-basis: 83.33%;
    max-width: 83.33%;
}

.col-xs-11 {
    flex-basis: 91.67%;
    max-width: 91.67%;
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.col-offset-xs-1 {
    margin-left: 8.33%;
}

.col-offset-xs-2 {
    margin-left: 16.67%;
}

.col-offset-xs-3 {
    margin-left: 25%;
}

.col-offset-xs-4 {
    margin-left: 33.33%;
}

.col-offset-xs-5 {
    margin-left: 41.67%;
}

.col-offset-xs-6 {
    margin-left: 50%;
}

.col-offset-xs-7 {
    margin-left: 58.33%;
}

.col-offset-xs-8 {
    margin-left: 66.67%;
}

.col-offset-xs-9 {
    margin-left: 75%;
}

.col-offset-xs-10 {
    margin-left: 83.33%;
}

.col-offset-xs-11 {
    margin-left: 91.67%;
}

.col-offset-xs-12 {
    margin-left: 100%;
}

.hidden-xs-up {
    display: none !important;
}

@media (max-width: 767px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 1023px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg-up {
        display: none !important;
    }
}

.hidden-lg-down {
    display: none !important;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-offset-0,
    .col-sm-offset-1,
    .col-sm-offset-2,
    .col-sm-offset-3,
    .col-sm-offset-4,
    .col-sm-offset-5,
    .col-sm-offset-6,
    .col-sm-offset-7,
    .col-sm-offset-8,
    .col-sm-offset-9,
    .col-sm-offset-10,
    .col-sm-offset-11,
    .col-sm-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .col-sm-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-sm-2 {
        flex-basis: 16.67%;
        max-width: 16.67%;
    }

    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-sm-5 {
        flex-basis: 41.67%;
        max-width: 41.67%;
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-sm-8 {
        flex-basis: 66.67%;
        max-width: 66.67%;
    }

    .col-sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-sm-11 {
        flex-basis: 91.67%;
        max-width: 91.67%;
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-offset-sm-1 {
        margin-left: 8.33%;
    }

    .col-offset-sm-2 {
        margin-left: 16.67%;
    }

    .col-offset-sm-3 {
        margin-left: 25%;
    }

    .col-offset-sm-4 {
        margin-left: 33.33%;
    }

    .col-offset-sm-5 {
        margin-left: 41.67%;
    }

    .col-offset-sm-6 {
        margin-left: 50%;
    }

    .col-offset-sm-7 {
        margin-left: 58.33%;
    }

    .col-offset-sm-8 {
        margin-left: 66.67%;
    }

    .col-offset-sm-9 {
        margin-left: 75%;
    }

    .col-offset-sm-10 {
        margin-left: 83.33%;
    }

    .col-offset-sm-11 {
        margin-left: 91.67%;
    }

    .col-offset-sm-12 {
        margin-left: 100%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 970px;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-offset-0,
    .col-md-offset-1,
    .col-md-offset-2,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .col-md-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-md-2 {
        flex-basis: 16.67%;
        max-width: 16.67%;
    }

    .col-md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-md-5 {
        flex-basis: 41.67%;
        max-width: 41.67%;
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-md-8 {
        flex-basis: 66.67%;
        max-width: 66.67%;
    }

    .col-md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-md-11 {
        flex-basis: 91.67%;
        max-width: 91.67%;
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-offset-md-1 {
        margin-left: 8.33%;
    }

    .col-offset-md-2 {
        margin-left: 16.67%;
    }

    .col-offset-md-3 {
        margin-left: 25%;
    }

    .col-offset-md-4 {
        margin-left: 33.33%;
    }

    .col-offset-md-5 {
        margin-left: 41.67%;
    }

    .col-offset-md-6 {
        margin-left: 50%;
    }

    .col-offset-md-7 {
        margin-left: 58.33%;
    }

    .col-offset-md-8 {
        margin-left: 66.67%;
    }

    .col-offset-md-9 {
        margin-left: 75%;
    }

    .col-offset-md-10 {
        margin-left: 83.33%;
    }

    .col-offset-md-11 {
        margin-left: 91.67%;
    }

    .col-offset-md-12 {
        margin-left: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-offset-0,
    .col-lg-offset-1,
    .col-lg-offset-2,
    .col-lg-offset-3,
    .col-lg-offset-4,
    .col-lg-offset-5,
    .col-lg-offset-6,
    .col-lg-offset-7,
    .col-lg-offset-8,
    .col-lg-offset-9,
    .col-lg-offset-10,
    .col-lg-offset-11,
    .col-lg-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .col-lg-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .col-lg-2 {
        flex-basis: 16.67%;
        max-width: 16.67%;
    }

    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-lg-5 {
        flex-basis: 41.67%;
        max-width: 41.67%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .col-lg-8 {
        flex-basis: 66.67%;
        max-width: 66.67%;
    }

    .col-lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .col-lg-11 {
        flex-basis: 91.67%;
        max-width: 91.67%;
    }

    .col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-offset-lg-1 {
        margin-left: 8.33%;
    }

    .col-offset-lg-2 {
        margin-left: 16.67%;
    }

    .col-offset-lg-3 {
        margin-left: 25%;
    }

    .col-offset-lg-4 {
        margin-left: 33.33%;
    }

    .col-offset-lg-5 {
        margin-left: 41.67%;
    }

    .col-offset-lg-6 {
        margin-left: 50%;
    }

    .col-offset-lg-7 {
        margin-left: 58.33%;
    }

    .col-offset-lg-8 {
        margin-left: 66.67%;
    }

    .col-offset-lg-9 {
        margin-left: 75%;
    }

    .col-offset-lg-10 {
        margin-left: 83.33%;
    }

    .col-offset-lg-11 {
        margin-left: 91.67%;
    }

    .col-offset-lg-12 {
        margin-left: 100%;
    }
}

.splitter {
    background: #ffffff;
    opacity: 0.5;
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 15px;
    opacity: 0.8;
    color: #ffffff;
    font-size: 1.25em;
    font-style: italic;
}

.title h1 {
    font-size: 1.8em;
    display: inline-block;
    font-style: normal;
    margin: 0 10px 0 0;
}

.title a {
    font-style: italic;
    text-decoration: underline;
}

.title .to-right {
    position: relative;
    line-height: 45px;
}

.nav {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #616161;
    z-index: 999;
}

.nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background-color: rgba(97, 97, 97, 0.52);
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav li {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
    list-style: none;
}

.nav li:hover {
    cursor: pointer;
    background: white;
    color: rgb(97, 97, 97);
}

.nav li:hover > a {
    color: rgb(97, 97, 97);
}

.nav > ul > li:not(img):not(:nth-child(2))::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #979797;
    margin-top: 15px;
    position: absolute;
}

.nav li > a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0 14px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(97, 97, 97);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 150px;
}

.user-icon {
    height: 60px;
    width: 60px;
    margin-right: -10px;
}

.user-overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.user-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3d3d3d;
    width: 30%;
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /*padding-bottom: 10px;*/
}

.user-box h3 {
    margin: 0;
}

.user-box a {
    display: block;
    margin: 10px 0;
}

.user-box img {
    margin-top: 20px;
    border: 5px solid white;
    box-sizing: border-box;
}

.user-box-close {
    position: absolute;
    top: 1px;
    right: 2px;
    cursor: pointer;
}

.user-box-icon {
    margin: auto;
    display: block;
    width: 120px;
}

.jumbotron {
    background-color: #3d3d3d;
    height: 60px;
    color: #b3b3b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.jumbotron h2 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    vertical-align: middle;
    line-height: 60px;
}

.jumbotron .col-md-3 {
    background-color: #e24a4a;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.jumbotron .col-md-3:hover {
    transform: scale(1.05);
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.jumbotron a {
    vertical-align: middle;
    line-height: 60px;
}

.links {
    font-size: 1em;
    opacity: 0.8;
    color: #ffffff;
    margin-bottom: 30px;
}

.links a {
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}

.links a:visited {
    text-decoration: underline;
}

.links a:hover {
    text-decoration: underline;
}

.links a:focus {
    color: #ffffff;
    text-decoration: underline;
}

.carousel {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    padding: 0 0 37%;
    position: relative;
}

.carousel img {
    width: 100%;
    position: absolute;
}

.card {
    margin-bottom: 25px;
    color: #ffffff;
}

.card a {
    font-weight: bold;
}

.card-title {
    height: 50px;
    background: rgba(226, 74, 74, 0.59);
    overflow:hidden;
}

.card-title h3 {
    margin: 0;
    position: relative;
    vertical-align: middle;
    line-height: 52px;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 1.25em;
    z-index: 3;
}

.card-title a {
    color: inherit;
}

.card-title > .col-sm-10 {
    position: relative
}

.card-title > .col-sm-10::before {
    content: '';
    position: absolute;
    height: 51px;
    width: calc(100% + 2rem);
    display: block;
    background-origin: border-box;
    background: url('../img/ticket.png') no-repeat right top;
    background-size: 100% 100%;
    overflow-x: visible;
    top: -1px;
    right: 0;
}

.card-date svg {
    opacity: 0.59;
    position: absolute;
    left: 0;
}

.card-date .row {
    align-items: center;
}

.card-date .col-sm-6:nth-child(odd) {
    padding-right: 0.5rem;
    text-align: right;
}

.card-date .col-sm-6:nth-child(even) {
    padding-left: 0;
    text-align: left;
}

.card-date span {
    display: inline-block;
}

.card-date-day {
    font-size: 2.25em;
    font-weight: 200;
    line-height: 50px;
    vertical-align: middle;
    height: 100%;
}

.card-date-month {
    font-size: 0.938em;
    font-weight: bold;
}

.card-date-year {
    font-size: 1.125em;
    font-weight: 200;
}

.card-date > .row {
    position: relative;
    height: 50px;
}

.card-content {
    font-size: 0.875em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.36));
}

.card-author {
    position: relative;
}

.card-author-img > img {
    width: 44px;
    border: 2px solid white;
    transform: rotate(-9deg);
    transform-origin: center center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 55px;
}

.card-author-name {
    padding-left: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.card-author-name span:nth-child(2) {
    font-weight: 800;
}

.card-author-name span:last-child {
    font-style: italic;
    font-size: 0.786em;
}

.comment {
    margin-bottom: 10px;
    padding: 0;
    color: #ffffff;
}

.comment-info {
    border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    border-bottom: 1px solid;
    border-image-slice: 1;
}

.comment-author {
    font-weight: bold;
}

.comment-author-role {
    font-size: 0.85em;
    font-style: italic;
}

.comment-date {
    font-size: 0.857em;
    font-weight: 600;
    color: #b3b3b3;;
}

.comment-textarea {
    padding-right: 0;
}

.comment-textarea textarea {
    min-height: 57px;
}

.form textarea, input {
    width: 100%;
    font-family: 'Source Sans Pro', serif;
}

.form textarea {
    resize: vertical;
}

.list-module {
    background: #3d3d3d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 20px;
}

.list-module a {
    color: #ffffff;
    font-weight: bold;
}

.list-module h3 {
    margin: 0;
    color: #8e8e8e;
    font-size: 1.25em;
    font-weight: bold;
}

.list-module-title {
    height: 47px;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-row {
    height: 70px;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.list-row:not(:last-child)::after {
    content: '';
    width: calc(100% - 2rem);
    height: 1px;
    background: #979797;
    display: block;
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.list-row > .row {
    height: 100%;
}

.event-date:before {
    background: url('../img/ticket-court.png') no-repeat;
    background-size: cover;
    content: '';
    width: calc(100% - 0.5rem);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0.5rem;
    z-index: -1;
}

.event-date {
    transform: rotate(-6deg);
    transform-origin: center center;
    overflow: visible;
    height: 47px;
    align-self: center;
}

.event-date span {
    display: block;
}

.event-date-day {
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.25em;
    font-weight: 200;
    text-align: right;
    width: 100%;
}

.event-date-month {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 0.938em;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.event-date-year {
    width: 100%;
    text-align: right;
    font-size: 1.125em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.event-date .col-md-6 {
    padding: 0;
}

.event-date .col-md-6:last-of-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 0.5rem;
}

.event-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.event-name {
    font-weight: 500;
}

.event-place {
    font-size: 0.938em;
    font-style: italic;
}

.record-type {
    font-size: 3.375em;
    color: black;
    text-align: center;
    height: 68px;
}

.record-type span {
    line-height: 68px;
    vertical-align: 68px;
}

.record-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.record-info span {
    display: block;
}

.record-name {
    font-size: 1.125em;
}

.record-artist {
    font-size: 0.875em;
    font-weight: bold;
    color: #adadad;
}

.calendar {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
    margin-bottom:30px;
}

.calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background: #2f2f2f;
    z-index: 999;
    color: white;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-title {
    background: #202020;
    height: 50px;
}

.footer-title li:not(:first-child):not(:last-child):before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #979797;
    margin-left: -15px;
    margin-top: 10px;
    position: absolute;
}

.footer-title li {
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-right: 28px;
    font-weight: 700;
    list-style: none;
}

@media (max-width: 767px) {
    .footer-title .container{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
}

.footer-body li {
    position: relative;
    height: 56px;
    width: 86px;
    margin-top: 12px;
    font-size: 0.875em;
}

.footer-body .text-link {
    position: absolute;
}

.footer-body a {
    top: 50%;
    transform: translateY(-50%);
}

.footer-body img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-body .col-xs-2 {
    height: 80px;
    font-size: 0.875em;
    display: flex;
    align-items: center;
}

.to-right {
    float: right;
    text-align: right !important;
    margin-left: auto;
}

ul > .to-right {
    padding-right: 0 !important;
}

.embed-img {
    height: 1.365em;
    margin-left: 1rem;
    transform: translateY(25%);
}

.body-noscroll {
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

.trombi {
    margin-bottom:20px;
    text-align: center;
}

.trombi-border {
    border-radius: 50%;
    width: 90%;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    padding-top: 90%;
    height: auto;
    margin: auto;
}

.trombi-border img {
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}
